@import url(//db.onlinewebfonts.com/c/6a891befed317fa85014538362250762?family=Swiss+911);
$jBlue: #060CE9;

body {
  font-family: 'Swiss 911';
  font-size: 40px;
  background-color: rgb(51, 53, 53);
}

#main {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 1rem;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
}

.column {
  background-color: black;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(6, auto);
  grid-gap: 1rem;
}

.cell {
  background-color: $jBlue;
  grid-row-gap: 1rem;
  height: 100px;
  place-items: center;
}

.cellContent {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

#round, #score, #next, #save, #reset, #previousScores, .scoreItem {
  margin-bottom: 0.25rem;
  color: white;
}

.scoreItem {
  font-family: Arial;
  font-size: 0.5em;
}