@import url(//db.onlinewebfonts.com/c/6a891befed317fa85014538362250762?family=Swiss+911);
$jBlue: #060CE9;

body {
  font-family: 'Swiss 911';
  font-size: 40px;
  background-color: rgb(51, 53, 53);
}

#main {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: $jBlue;
  color: white;
}

.column {
  grid-template-columns: subgrid;

  grid-row-gap: 1rem;
}

.item {
  display: grid;
  height: 100px;
  text-align: center;
  place-items: center;
}

.newClass {
  background-color: red;
}